*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-align: center;
}

body {
  background: rgb(221, 221, 221);
}

.banner {
  margin: 0 auto 10px 0;
  padding: 10px 5px;
  background-color: rgba(22, 22, 22, 0.15);
  border-bottom: 3px solid rgba(22, 22, 22, 0.2);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  /* position: sticky;
  top: -50px; */
}

.img_container {
  margin: 20px auto;
  border: 3px solid rgba(22, 22, 22, 0.2);
  margin: auto;
  width: 80%;
  max-width: 800px;
  /* box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px; */
  box-shadow: rgba(38, 24, 24, 0.35) 0px 5px 15px;
}

img {
  max-width: 100%;
  object-fit: contain;
}
