@import url('https://fonts.googleapis.com/css?family=lato:400,700');

* {
  /* border: 2px solid red; */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* background-color: black; */
  /* color: azure; */
}

:root {
  --primaryColor: #f09d51;
  --mainWhite: #ffffff;
  --mainBlack: #222;
  --mainGray: #ececec;
  --mainSpacing: 0.1rem;
  --mainTransition: all 0.3s linear;
}
body {
  color: var(--mainBlack);
  background: var(--mainWhite);
  font-family: 'lato', sans-serif;
}

.thee {
  color: var(--primaryColor);
  font-size: 1.5rem;
}

.mylogo {
  border-radius: 20%;
  border-bottom: 5px solid black;
  text-shadow: 2px 2px 2px black;
  font-size: 1.5rem;
}
/*-----------Navbar---------------*/
.navbar {
  position: sticky;
  top: 0;
  height: 60px;
  width: 100%;
  display: flex;
  align-items: center;
  background-color: #f1f1f1;
  z-index: 1;
}

.navbar-center {
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1.5rem;
}

.nav-icon {
  font-size: 1.5rem;
}

.nav-icon-bars {
  cursor: pointer;
}

.nav-cart-btn {
  position: relative;
  cursor: pointer;
}

.cart-items {
  position: absolute;
  top: -8px;
  right: -8px;
  background: var(--primaryColor);
  padding: 0 5px;
  border-radius: 30%;
  color: var(--mainWhite);
}
.to-sign {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 180px;
  background: transparent;
  border-radius: 0;
  /* font-size: 1.15rem; */
}
.signin,
.login {
  background-color: #f09d51;
  border-radius: 4px;
  padding: 3px 9px;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: #222;
}
/*--------- End of Navbar---------*/

/*--------- Hero Beginning ----------*/

.hero {
  min-height: 500px;
  width: 100%;
  background: #808080 url('/evanAssert/evan.jpg') center/cover no-repeat;
  position: relative;
  /* display: flex; */
  /* align-items: center; */
  /* justify-content: center; */
}

.banner {
  text-align: center;
  background-color: rgba(255, 255, 255, 0.3);
  display: inline-block;
  padding: 1.5rem;
  width: inherit;
  /* clear: both; */
  /* outline: 1px solid black; */
}

.banner-title {
  color: var(--primaryColor);
  text-shadow: 6px 5px 4px black;
  font-size: 3.2rem;
  text-transform: uppercase;
  letter-spacing: var(--mainSpacing);
  margin-bottom: 1rem;
}
.real-deal {
  display: inline-block;
  margin: auto;
  width: 90vw;
  margin: 0 auto;
  max-width: 1170px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-column-gap: 1.5rem;
  grid-row-gap: 2rem;
}
.real-deal div {
  margin-top: 1rem;
  background-color: rgba(255, 255, 255, 0.3);
  box-shadow: 4px 4px 4px black;
  border: 5px groove var(--primaryColor);
  border-radius: 50%;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  text-transform: capitalize;
  transition: var(--mainTransition);
}

.real-deal div:hover {
  transform: scale(1.15);
  color: var(--primaryColor);
  cursor: pointer;
  background-color: rgba(25, 25, 25, 0.75);
}

.banner-btn {
  padding: 1rem 2rem;
  text-transform: uppercase;
  letter-spacing: var(--mainSpacing);
  font-size: 1rem;
  background: var(--primaryColor);
  color: var(--mainBlack);
  border: 1px solid var(--primaryColor);
  transition: var(--mainTransition);
  cursor: pointer;
  border-radius: 5px;
  opacity: 0.9;
}

.banner-btn:hover {
  opacity: 1;
  color: var(--mainWhite);
}

/*------------End of Hero --------*/

/*------------Product -------------*/
.available-offers {
  padding: 2rem 0;
}

.section-title h2 {
  text-align: center;
  font-size: 2.2rem;
  margin-bottom: 1.5rem;
  text-transform: capitalize;
  letter-spacing: var(--mainSpacing);
}

.section-title h4 {
  text-align: center;
  text-transform: capitalize;
  margin-bottom: 1.5rem;
}
.sort-list {
  display: block;
  width: 100%;
  margin-bottom: 1rem;
  background: transparent;
  opacity: 0.9;
  background-color: #eee;
  position: sticky;
  top: 60px;
  z-index: 1;
}
.sort-list h5,
.sort-list form {
  display: inline;
  padding-left: 1rem;
}
.available-construction-offers {
  width: 90vw;
  margin: 0 auto;
  max-width: 1170px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-column-gap: 1.5rem;
  grid-row-gap: 2rem;
}
.product {
  box-shadow: 0px 1px 8px 5px #bbb;
  background-color: rgba(200, 200, 200, 0.8);
}

.img-container {
  position: relative;
  overflow: hidden;
}

.cart-btn {
  position: absolute;
  top: 70%;
  right: 0;
  background: var(--primaryColor);
  border: none;
  text-transform: capitalize;
  padding: 0.5rem 0.75rem;
  letter-spacing: var(--mainSpacing);
  font-weight: bold;
  transition: var(--mainTransition);
  transform: translateX(101%);
  cursor: pointer;
  opacity: 1;
}
.cart-btn:hover {
  color: var(--mainWhite);
}

/* .cart-btn:active {
    opacity: 1;
    background-color: var(--mainGray);
    color: #222;

} */
.fa-shopping-cart {
  margin-right: 0.5rem;
}

.img-container:hover .cart-btn {
  transform: translateX(0);
}
.product-img {
  display: block;
  width: 100%;
  min-height: 12rem;
  transition: var(--mainTransition);
}
.img-container:hover .product-img {
  opacity: 0.8;
}
.product h3 {
  text-transform: capitalize;
  font-size: 1rem;
  margin-top: 1rem;
  letter-spacing: var(--mainSpacing);
  text-align: center;
  padding-top: 3px;
}
.product h4 {
  margin: 0.6rem;
  color: var(--mainBlack);
  text-align: center;
}
/*-------- End of Product -------*/

/*----------- Cart -----------------*/
.cart-overlay {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: transparent;
  transition: var(--mainTransition);
  background: rgba(240, 157, 81, 0.5);
  z-index: 1;
  visibility: hidden;
}
.cart {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  overflow: scroll;
  z-index: 2;
  background: rgba(231, 226, 221, 0.9);
  padding: 1.5rem;
  transition: var(--mainTransition);
  transform: translateX(100%);
}

/* .cart{
    transform: translate(0);
    visibility: visible; 
    }
.showCart {
transform: translateX(0); 
}
.transparentBcg {
    visibility: visible; 
} */

@media screen and (min-width: 768px) {
  .cart {
    width: 30vw;
    min-width: 450px;
  }
}

.close-cart {
  font-size: 1.7rem;
  cursor: pointer;
}
.cart h2 {
  font-size: 1.8rem;
  text-transform: capitalize;
  text-align: center;
  letter-spacing: var(--mainSpacing);
  margin-bottom: 2rem;
}
/*---------- Cart item -----------*/
.cart-item {
  display: grid;
  align-items: center;
  grid-template-columns: auto 1fr auto;
  grid-column-gap: 1.5rem;
  margin: 1.5rem 0;
}
.cart-item img {
  width: 75px;
  height: 75px;
}

.cart-item h4 {
  font-size: 1.1rem;
  text-transform: capitalize;
  letter-spacing: var(--mainSpacing);
}

.cart-item h5 {
  margin: 0.5rem 0;
  letter-spacing: var(--mainSpacing);
}
.item-amount {
  text-align: center;
}
.remove-item {
  color: gray;
  cursor: pointer;
}
.fa-chevron-up,
.fa-chevron-down {
  color: var(--primaryColor);
  cursor: pointer;
}
/*--------- End of cart item --------*/
.cart-footer {
  margin-top: 2rem;
  letter-spacing: var(--mainSpacing);
  text-align: center;
}
.cart-fooer h3 {
  text-transform: capitalize;
  margin-bottom: 1rem;
}

/*--------- End of Cart ---------------*/

/*--------- navigation ----------*/
/* .nav-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: transparent;
    transition: var(--mainTransition);
    background: rgba(240, 157, 81, 0.5);
    z-index: 2;
    visibility: hidden;
} */
/* .sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    z-index: 3;
    background: rgba(211, 226, 221, 0.9);
    padding: 1.5rem;
    transition: var(--mainTransition);
    transform: translateX(0);
}
.shownav {
transform: translateX(100);
}
.transparentBcg {
    visibility: visible;
}

@media screen and (min-width: 768px) {
    .nav {
        width: 30vw;
        min-width: 450px;
    }
}*/

.closebtn {
  font-size: 1.7rem;
  cursor: pointer;
  float: right;
}
.sidebar h2 {
  text-transform: capitalize;
  text-align: center;
  letter-spacing: var(--mainSpacing);
  margin-bottom: 2rem;
}
.nav-footer {
  margin-top: 2rem;
  letter-spacing: var(--mainSpacing);
  text-align: center;
}
.nav-fooer h3 {
  text-transform: capitalize;
  margin-bottom: 1rem;
}
.nav-links a {
  font-size: 1.15rem;
  margin: 10px;
  color: var(--mainBlack);
}

.to-sign-menu {
  margin: 10px auto;
}

input[type='text'] {
  width: 50%;
  /* box-sizing: border-box; */
  border: 1px solid var(--primaryColor);
  border-radius: 4px;
  font-size: 0.9rem;
  background-color: white;
  background-image: url('./searchicon.png');
  background-position: 10px 10px;
  background-repeat: no-repeat;
  padding: 12px 10px 12px 40px;
}
input[type='submit'] {
  box-sizing: border-box;
  border: 1px groove var(--primaryColor);
  border-radius: 4px;
  font-size: 0.9rem;
  cursor: pointer;
  box-shadow: 2px 2px 2px gray;
  padding: 5px 10px 5px 10px;
}
.social-media {
  margin: 10px auto;
  text-align: center;
}
/*--------- End of nav-overlay ---------------*/

/* -----------The page footer------- */
footer {
  width: 100vw;
  height: 100px;
  border-top: 2px solid var(--primaryColor);
  background-color: wheat;
}
/* -----------The page footer------- */

/* @media screen and (max-width: 1024px) {
    .real-deal {
        display: inline-block;
        width: 90vw;
        margin: 0 auto;
        max-width: 1170px;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(220px, 3fr));
        grid-column-gap: 1rem;
        grid-row-gap: 1rem;
    }
} */

/*  Mobile phone media screen */
@media screen and (max-width: 600px) {
  .to-sign-nav {
    display: none;
  }
  .banner-title {
    color: var(--primaryColor);
    text-shadow: 4px 4px 4px black;
    font-size: 2.2rem;
    letter-spacing: var(--mainSpacing);
    margin-bottom: 1rem;
  }
}

@media screen and (max-width: 600px) {
  .to-sign-nav {
    display: none;
  }

  .banner {
    text-align: center;
    background-color: rgba(255, 255, 255, 0.3);
    display: inline-block;
    padding: 1.5rem;
    width: inherit;
    /* clear: both; */
    /* outline: 1px solid black; */
  }
  .banner-title {
    color: var(--primaryColor);
    text-shadow: 3px 2.5px 2px black;
    font-size: 2rem;
    letter-spacing: var(--mainSpacing);
    margin-bottom: 1rem;
  }
  .real-deal {
    display: inline-block;
    margin: auto;
    width: 90vw;
    margin: 0 auto;
    max-width: 1170px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    grid-column-gap: 1rem;
    grid-row-gap: 1rem;
  }
  .real-deal div {
    margin-top: 1rem;
    background-color: rgba(255, 255, 255, 0.3);
    box-shadow: 4px 4px 4px black;
    border: 5px groove var(--primaryColor);
    border-radius: 50rem;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    transition: var(--mainTransition);
    font-size: 0.6rem;
    padding: auto 5px;
    overflow: auto;
  }
  .real-deal div:hover {
    transform: scale(1.11);
    color: var(--primaryColor);
    cursor: pointer;
    background-color: rgba(25, 25, 25, 0.5);
  }
  .available-construction-offers {
    width: 90vw;
    margin: 0 auto;
    max-width: 1170px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    grid-column-gap: 1rem;
    grid-row-gap: 1rem;
  }
  .product h3,
  .product h4 {
    font-size: 0.8rem;
    margin: 5px;
  }
}
/*  */
.sidebar {
  opacity: 0.95;
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 3;
  top: 0;
  left: 0;
  background-color: #ccc;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 50px;
}

#sideBarOverlayId {
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: transparent;
  background: rgba(240, 157, 81, 0.5);
  z-index: 2;
}

.closebtn {
  color: #999;
  border: none;
  transition: 0.3s;
}

.closebtn:hover {
  color: #000;
}

.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidebar {
    padding-top: 15px;
  }

  .sidebar a {
    font-size: 18px;
  }
}

select {
  display: inline;
  width: 20%;
  padding: 10px 10px;
  border: none;
  border-radius: 16px;
  background-color: #f1f1f1;
}

.copyright {
  text-align: center;
}
